@model Scrawler.Plumbing.Admin

@{
    ViewBag.Title = "CreateAdmin";
}

<h2>Create New User</h2>
    @using (Html.BeginForm("Createuser", "ControlPanel"))// TODO is not workzzzzz
    {
        @Html.LabelFor(x => x.UserName) @Html.TextBoxFor(x => x.UserName)
        <br />
        @Html.LabelFor(x => x.Password) @Html.PasswordFor(x => x.Password)
        <br />
        <input type="submit" value="Submit" />
    }
<br />