@model Scrawler.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!@Model.IsValidUser)
{
    <p>Invalid password</p>
}

@using (Html.BeginForm("Login", "Admin"))
{
    <label>Username: </label> @Html.TextBoxFor(x => x.Admin.UserName) <br />
    <label>Password: </label> @Html.PasswordFor(x => x.Admin.Password) <br />
    <input type="submit" value="Login" />
}


