@{
    ViewBag.Title = "Index";
}
@using Scrawler.Plumbing
@model IList<Scrawler.Plumbing.Chatroom>

<h2>Index</h2>

<a href="/ControlPanel/AddRoom">New Room</a>
<a href="/Admin/CreateUser">New Room</a>

<ul>
    @foreach (Chatroom room in @Model)
    {
        // TODO BA try to avoid hardcoded URLs - site can then work locally / in test as well as in prod
        <li>RoomId: @room.Id, Room FireBase ID: @room.FirebaseId, Room Hidden URL Key:@room.HiddenUrl <a href="http://scrawler.azurewebsites.net/chat/index?id=@room.Id">Link</a> <a href="/ControlPanel/Delete?Id=@room.Id">Delete</a></li>
    }
</ul>